{% extends "./base.html" %}

{% block content %}

<br>
<br>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts%}

        <div class="col">
            <div class="card shadow-sm d-flex flex-column h-100">
                <img height="200px" src="{{post.image.url}}">
                <a class="text-center" style="text-decoration:none" href="{% url 'post' post.slug %}" style="text-decoration:none">{{post.title}}</a>
                <div class="card-body">
                    <p class="card-text">{{post.intro}}</p>
                    <div>
                        {% if post.vip %}
                        <i class="bi bi-star-fill"></i>
                        {% endif %}
                        <small class="text-muted">{{post.publish_date|date}}</small>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% endfor %}


    </div>
</div>

{% endblock %}